/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/bosch.scss */
body {
  background-color: #eee;
  color: #000;
  margin: 0 auto;
  display: flex;
  font-family: Arial;
}

/* line 12, ../sass/bosch.scss */
.flex-column {
  flex-direction: column;
  width: 100%;
}

/* line 16, ../sass/bosch.scss */
.flex-row {
  flex-direction: row;
  width: 100%;
}

/* line 21, ../sass/bosch.scss */
.header {
  width: 100%;
  height: 100px;
  background: #003C6D;
  color: #fff;
}

/* line 27, ../sass/bosch.scss */
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

/* line 35, ../sass/bosch.scss */
.menu-container {
  /*width: 100%;*/
  height: 50px;
  background-color: #D8D9DA;
}

/* line 40, ../sass/bosch.scss */
.header-left:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin: 0 auto;
}

/* line 46, ../sass/bosch.scss */
.header-center:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-weight: bold;
  text-align: center;
  width: 30%;
  margin: auto 0;
}

/* line 55, ../sass/bosch.scss */
.header-right:nth-child(3) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  /* line 63, ../sass/bosch.scss */
  .header-left {
    display: none;
  }
}
/* line 69, ../sass/bosch.scss */
.title-section {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  /* line 69, ../sass/bosch.scss */
  .title-section {
    font-size: 1.5em;
    padding-bottom: 15px;
  }
}

/* line 84, ../sass/bosch.scss */
.slider {
  width: 100%;
  height: 600px;
  background: #003C6D;
}

/* line 91, ../sass/bosch.scss */
#slider {
  height: 350px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
@media (max-width: 800px) {
  /* line 91, ../sass/bosch.scss */
  #slider {
    margin-left: 0;
    width: 100% !important;
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  /* line 91, ../sass/bosch.scss */
  #slider {
    display: none;
  }
  /* line 108, ../sass/bosch.scss */
  #slider .img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 801px) {
  /* line 91, ../sass/bosch.scss */
  #slider {
    margin-left: calc(50% - 400px);
  }
}
/* line 125, ../sass/bosch.scss */
#slider div span {
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  background-color: red;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 143, ../sass/bosch.scss */
.services {
  width: 100%;
  height: 1000px;
  background-color: #fff;
}
@media (max-width: 600px) {
  /* line 143, ../sass/bosch.scss */
  .services {
    height: 0%;
  }
}

/* line 152, ../sass/bosch.scss */
.service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
@media (max-width: 600px) {
  /* line 152, ../sass/bosch.scss */
  .service-container {
    flex-direction: column;
    align-content: stretch;
    align-items: center;
  }
}

/* line 169, ../sass/bosch.scss */
.service-image {
  padding-bottom: 20px;
}
/* line 171, ../sass/bosch.scss */
.service-image span {
  font-weight: bold;
  padding-left: 20px;
  font-size: 2.5em;
}
/* line 176, ../sass/bosch.scss */
.service-image p {
  padding-left: 20px;
  font-size: 1em;
}

/* line 181, ../sass/bosch.scss */
.image-container {
  width: 320px;
  height: 320px;
  background: #003C6D;
  margin: 10px;
}

/* line 187, ../sass/bosch.scss */
.facilities {
  width: 100%;
  height: 800px;
  background-color: #D8D9DA;
}

/* line 192, ../sass/bosch.scss */
.slider-info {
  text-align: center;
}
/* line 195, ../sass/bosch.scss */
.slider-info .info-title {
  padding-top: 25px;
  font-size: 2.5em;
}
/* line 199, ../sass/bosch.scss */
.slider-info .info-description {
  padding-top: 20px;
  font-size: 1em;
}

/* line 204, ../sass/bosch.scss */
.contacts {
  width: 100%;
  height: 600px;
  background-color: #555555;
}
/* line 209, ../sass/bosch.scss */
.contacts .contact-info {
  text-align: center;
  color: #fff;
}
@media (max-width: 600px) {
  /* line 204, ../sass/bosch.scss */
  .contacts {
    background-color: #1D1D1B;
  }
}

/* line 218, ../sass/bosch.scss */
.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 600px) {
  /* line 228, ../sass/bosch.scss */
  .contact-container input, .contact-container input[type="password"], .contact-container input[type="search"], .contact-container input[type="text"], .contact-container input[type="mail"], .contact-container textarea {
    width: 70%;
  }
  /* line 231, ../sass/bosch.scss */
  .contact-container input[type="button"], .contact-container input[type="submit"] {
    width: 75%;
  }
}

/* line 236, ../sass/bosch.scss */
.about-me {
  width: 100%;
  height: 800px;
  background-color: #D8D9DA;
}

/* line 241, ../sass/bosch.scss */
.bosch-info {
  width: 100%;
  height: 900px;
  color: #fff;
  text-align: center;
  background-color: #1D1D1B;
  font-size: 1.5em;
  /*
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;*/
}
@media (min-width: 600px) {
  /* line 257, ../sass/bosch.scss */
  .bosch-info .bosch-info-mobile {
    display: none;
  }
}
/* line 261, ../sass/bosch.scss */
.bosch-info .bosch-address {
  padding-top: 25px;
}
/* line 264, ../sass/bosch.scss */
.bosch-info .bosch-address-top {
  padding-top: 100px;
}
/* line 267, ../sass/bosch.scss */
.bosch-info .mapa {
  width: 40%;
  height: 350px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30px;
}

@media (max-width: 600px) {
  /* line 277, ../sass/bosch.scss */
  .bosch-info-mobile {
    height: 600px;
  }

  /* line 281, ../sass/bosch.scss */
  .bosch-info {
    display: none;
  }
}
/* line 286, ../sass/bosch.scss */
.message {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

/* line 292, ../sass/bosch.scss */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
  width: 100%;
  height: 100px;
  background-color: #4C4C4C;
}
@media (max-width: 600px) {
  /* line 292, ../sass/bosch.scss */
  .footer {
    background-color: #003C6D;
  }
}

/* line 307, ../sass/bosch.scss */
.footer-info {
  width: 50%;
  color: #fff;
}

/* line 311, ../sass/bosch.scss */
.footer-logo {
  width: 50%;
}

@media (max-width: 600px) {
  /* line 318, ../sass/bosch.scss */
  .facilities, .contacts, .about-me, .bosch-info {
    height: 600px;
  }
}
/* line 323, ../sass/bosch.scss */
.btn-primary {
  background-color: #003C6D;
  color: #fff;
}

/* line 331, ../sass/bosch.scss */
input, input[type="password"], input[type="search"], input[type="text"], input[type="mail"], textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 20%;
}

/* line 338, ../sass/bosch.scss */
input[type="button"], input[type="submit"] {
  width: 21%;
}
