@import "compass";
@import "compass/reset";


body {
  background-color: #eee;
  color: #000;
  margin: 0 auto;
  display: flex;
  font-family:Arial;
}
.flex-column{
  flex-direction: column;
  width: 100%;
}
.flex-row {
  flex-direction: row;
  width: 100%;
}
//======================Menu==================================
.header{
  width: 100%;
  min-height: 100px;
  background: #003C6D;
  color: #fff;
}
.header-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
.menu-container{
  /*width: 100%;*/
  height: 50px;
  background-color:#D8D9DA;
}
.header-left:nth-child(1){
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 0 auto;
}
.header-center:nth-child(2){
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  font-weight:bold;
  text-align:center;
  width:60%;
  margin: auto 0;
  font-size: 1.5em;
}
.header-right:nth-child(3){
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 0 auto;
}

@media screen and (max-width : 600px){
  .header-left{
    display:none;
  }
}
//======================FIN Menu==================================
//Titulos comunes en cada sección
.title-section{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.5em;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (max-width: 600px) {
    font-size: 1.5em;
    padding-bottom: 15px;
  }
}
//========================SECCIONES===================================
.slider {
  //background-color: #000;
  width: 100%;
  height: 600px;
  background: #003C6D;
  //background: transparent url('../images/slider_01.jpg') no-repeat;

  @media (max-width: 800px) {
    background-color: #D8D9DA;
  }

  @media (max-width: 600px) {
    background-color: #D8D9DA;
  }
}
#slider {
  //@include center;
  height: 350px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  @media (max-width: 800px) {
    margin-left: 0;
    width: 100% !important;
    min-width: 100%;
  }
  @media (max-width: 600px) {
    display: none;
    .img{
      max-height: 100%;
      max-width: 100%;
      width: auto;
      padding: 0;
      margin: 0;
      //background: url(../images/slider1m.png) no-repeat 0 0;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
  @media (min-width: 801px) {
    //margin-left: calc(50% - 400px);
  }
  div {
    span {
      font-size: 40px;
      height: 50px;
      line-height: 50px;
      background-color: red;
      width: 100%;
      vertical-align: middle;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      margin: auto;
    }
  }
}
.services {
  width: 100%;
  height: 1000px;
  background-color:#fff;

  @media (max-width: 600px) {
    height: 0%;
  }
}
.service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;

  @media (max-width: 600px) {
    //display: flex;
    flex-direction: column;
    //flex-wrap: nowrap;
    //justify-content: center;
    align-content: stretch;
    align-items: center;
  }
}
.service-image{
  padding-bottom: 20px;
  span {
    font-weight: bold;
    padding-left:20px;
    font-size: 2.5em;
  }
  p{
    padding-left:20px;
    font-size: 1em;
  }
}
.image-container{
  width: 320px;
  height: 320px;
  background: #003C6D;
  margin: 10px;
}
.facilities{
  width: 100%;
  height: 800px;
  background-color:#D8D9DA;
}
.slider-info {
  text-align: center;

  .info-title{
    padding-top: 25px;
    font-size: 2.5em;
  }
  .info-description{
    padding-top: 20px;
    font-size: 1em;
  }
}
.contacts{
  width: 100%;
  height: 600px;
  background-color:#555555;

  .contact-info{
    text-align: center;
    color:#fff;
  }

  @media (max-width: 600px) {
    background-color:#1D1D1B;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding-top: 20px;

  @media (max-width: 600px) {
    input, input[type="password"], input[type="search"], input[type="text"], input[type="mail"], textarea {
      width: 70%;
    }
    input[type="button"], input[type="submit"] {
      width: 75%;
    }
  }
}
.about-me{
  width: 100%;
  height: 800px;
  background-color:#D8D9DA;
}
.bosch-info{
  //display: inline;
  width: 100%;
  height: 900px;
  color:#fff;
  text-align: center;
  background-color:#1D1D1B;
  font-size: 1.5em;
  /*
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;*/

  @media (min-width: 600px) {
    .bosch-info-mobile {
      display: none;
    }
  }
  .bosch-address{
    padding-top: 25px;
  }
  .bosch-address-top{
    padding-top: 100px;
  }
  .mapa{
    width: 40%;
    height: 350px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .bosch-info-mobile {
    //display: inline;
    height: 600px;
  }
  .bosch-info {
    display: none;
  }
}

.message {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color:#fff;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
  width: 100%;
  height: 100px;
  background-color: #4C4C4C;

  @media (max-width: 600px) {
    background-color: #003C6D;
  }
}
.footer-info{
  width: 50%;
  color:#fff;
}
.footer-logo{
  width: 50%;
  //background: url('../images/logo1.png') no-repeat 0 0;
}


@media (max-width: 600px) {
  .facilities, .contacts, .about-me, .bosch-info{
    height: 600px;
  }
}

.btn-primary {
  background-color: #003C6D;
  color:#fff;
}

//===============================FIN SECCIONES=====================================

//===================================CONTROLES=====================================
input, input[type="password"], input[type="search"], input[type="text"], input[type="mail"], textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 20%;
}
input[type="button"], input[type="submit"] {
  width: 21%;
}
//===============================FIN CONTROLES=====================================